/*
.card {
    padding: 10px;
    margin: 10px;
}

.container {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 56.25%; 16:9 Aspect Ratio 
}

.responsive-iframe {
    position: absolute; 
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
}
*/

iframe {
    width: 100%;
    height: 100%;
}


.card {
    padding: 10px;
    margin: 10px;
}

.modal-dialog {
    min-width: 800px;
}

.modal-body iframe {
    width: 760px;
    height: 515px;
}